body{

font-family:Arial, sans-serif;

background:#f4f6f8;

margin:0;

text-align:center;

}



header{

background:#1e3a5f;

color:white;

padding:20px;

}



nav a{


color:white;

text-decoration:none;

margin:15px;

font-size:18px;


}



nav a:hover{

text-decoration:underline;

}



section{


background:white;

width:80%;

margin:25px auto;

padding:25px;

border-radius:10px;

box-shadow:0 0 10px #ccc;


}



.profile{


width:180px;

height:180px;

border-radius:50%;

object-fit:cover;


}



ul{

list-style-position:inside;

font-size:18px;

}



table{


width:80%;

margin:auto;

border-collapse:collapse;


}



th,td{


border:1px solid black;

padding:12px;


}



th{


background:#1e3a5f;

color:white;


}



input,textarea{


width:80%;

padding:10px;

margin:10px;

border:1px solid #aaa;

border-radius:5px;


}



textarea{

height:100px;

}



button{


background:#1e3a5f;

color:white;

padding:12px 30px;

border:none;

border-radius:5px;

cursor:pointer;


}



button:hover{


background:#345d8a;


}



footer{


background:#1e3a5f;

color:white;

padding:15px;

}